@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input{
  outline: none;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
  width: 100%;
}

.sec1 {
  background-color: rgb(255, 220, 209);
  height: 1132px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nav_left {
  display: flex;
  align-items: center;
  column-gap: 83px;
}

.nav_left h1 {
  color: #252b42;
}

.nav_left ul {
  display: flex;
  list-style: none;
  column-gap: 21px;
}

.nav_left ul li a {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

.nav_right {
  display: flex;
  column-gap: 45px;
  align-items: center;
}

.nav_right a {
  text-decoration: none;
  color: #23a6f0;
  font-weight: 700;
  font-size: 14px;
}

.nav_right button {
  width: 137px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #23a6f0;
  color: white;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  column-gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 40px;
  margin-top: 130px;
}

.wrapper a,
.top a,
.sec4_top a,
.sec5 a {
  font-weight: 700;
  font-size: 16px;
  color: #23a6f0;
}

.wrapper h1 {
  border-radius: 2px solid black;
  font-weight: 700;
  font-size: 58px;
  color: #252b42;
  width: 542px;
  text-align: center;
}

.wrapper p {
  font-weight: 400;
  font-size: 20px;
  color: #737373;
  align-items: center;
  text-align: center;
  width: 536px;
}

.buttons {
  display: flex;
  column-gap: 10px;
}

.buttons button:first-child {
  width: 193px;
  height: 52px;
  border-radius: 5px;
  background-color: #23a6f0;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.buttons button:last-child {
  width: 193px;
  height: 52px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #23a6f0;
  font-weight: 700;
  font-size: 14px;
  color: #23a6f0;
}

.buttons button:last-child:hover{
  background-color: #23a6f0;
  color: white;
  transition: 0.4s ease-in-out;
}

.headcards {
  display: flex;
  align-items: center;
  width: 1046px;
  justify-content: space-between;
  margin-top: 150px;
}

.headcard1,
.headcard2 {
  width: 328px;
  height: 292px;
  background-color: #ffffff;
  padding: 35px 40px 35px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  -webkit-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.75);
}
.headcard3 {
  width: 328px;
  height: 292px;
  background-color: #23a6f0;
  padding: 35px 40px 35px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  -webkit-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px -29px rgba(0, 0, 0, 0.75);
}

.icon {
  width: 70px;
  height: 76px;
  background-color: #b2e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.icon i {
  color: #2dc071;
}

.headcard2 .icon {
  background-color: #b9eaa8;
}

.headcard3 .icon {
  background-color: #ffffff;
}
.header_hr {
  width: 50px;
  height: 2px;
  background-color: #e74040;
}

.header_hr_last {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.headcard1 h5 {
  font-weight: 700;
  font-size: 16px;
  color: #252b42;
}

.headcard1,
.headcard2,
.headcard3 p {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}

.headcard3 {
  color: #ffffff;
}
.headcard3 p {
  color: #ffffff;
}

.sec2 {
  width: 100%;
  height: 715px;
  background-color: #ffffff;
}

.sec2_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 160px;
}

.right {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.right div {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}

.right h1 {
  font-weight: 700;
  font-size: 40px;
  color: #252b42;
  width: 301px;
}

.right p {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  width: 351px;
}

.right button {
  background-color: transparent;
  border: none;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #23a6f0;
}

.sec3 {
  width: 100%;
  height: 1050px;
  /* margin-top: 272px; */
}

.sec3 .top {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: start;
  align-items: start;
}

.top h1 {
  font-weight: 700;
  font-size: 40px;
  color: #252b42;
}

.top p {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}

.down_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 112px;
}

.card_top {
  background-image: url(./img/lift.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 238px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.card_topp {
  width: 51px;
  height: 24px;
  background-color: #e74040;
  border-radius: 3px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_top div a {
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
}

.down_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 75%;
}

.down_icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.down_icon:hover{
  background-color: #23A6F0;
  color: white;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.card_down {
  width: 245px;
  height: Hug (358px);
  padding: 25px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card_down_top {
  display: flex;
  justify-content: space-between;
}

.card_down_top div {
  background-color: black;
  width: 50px;
  height: 26px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  column-gap: 5px;
}

.card_down_top div span {
  font-weight: 400;
  font-size: 12px;
}

.card_down_top a {
  font-weight: 700;
  font-size: 14px;
  color: #23a6f0;
}

.card_down h4 {
  font-weight: 700;
  color: #252b42;
  font-size: 16px;
}

.card_down p {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  width: 182px;
}

.card_down span i {
  color: #737373;
}

.card_down span {
  display: flex;
  column-gap: 10px;
}

.price {
  display: flex;
  column-gap: 7px;
}

.price a {
  font-weight: 700;
  font-size: 16px;
  color: #bdbdbd;
}

.price span {
  font-weight: 700;
  font-size: 16px;
  color: #40bb15;
}

.other {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.other i {
  color: #23a6f0;
}

.other span {
  font-weight: 400;
  font-size: 12px;
  color: #737373;
}

.i {
  display: flex;
  column-gap: 5px;
}

.down_card button {
  width: 141px;
  height: 44px;
  border-radius: 37px;
  border: 1px solid #23a6f0;
  color: #23a6f0;
  font-weight: 700;
  font-size: 14px;
  background-color: transparent;
  margin-top: 20px;
}

.down_card button:hover{
  background-color: #23A6F0;
  color: white;
  transition: 0.4s ease-in-out;
}

.sec4 {
  width: 100%;
  height: 989px;
  background-color: #ffdcd1;
  padding-top: 160px;
}

.sec4_top {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sec4_top h1 {
  font-weight: 700;
  font-size: 40px;
  color: #252b42;
}

.sec4_top p {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
}

.sec4_down {
  display: flex;
  column-gap: 30px;
  margin-top: 96px;
  text-align: center;
}

.sec4_person {
  background-color: white;
  width: 508px;
  height: 378px;
}

.sec4_person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec4_person img {
  border-radius: 50%;
  margin-top: 25px;
}

.sec4_person p {
  width: 300px;
  font-size: 14px;
  color: #737373;
  margin-top: 30px;
}

.stars i {
  color: #f3cd03;
  margin-top: 15px;
}

.sec4_person h5 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #252b42;
}

.sec4_person a {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

.sec5 {
  width: 100%;
  height: 594px;
  padding-top: 160px;
  text-align: center;
  justify-content: center;
}

.sec5 h1 {
  font-weight: 700;
  font-size: 40px;
  color: #252b42;
  margin-top: 10px;
}

.sec5 p {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-top: 10px;
}

.sec5_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec5 input {
  margin-top: 80px;
  width: 688px;
  height: 58px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px 0px 20px;
  border-radius: 5px;
}

.sec5 button {
  width: 117px;
  height: 58px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background-color: #23a6f0;
  margin-right: 2px;
  margin-top: 80px;
}

footer {
  /* margin-top: 242px; */
}

.fot_top {
  height: 338px;
  width: 100%;
}

.sections {
  display: flex;
  justify-content: space-between;
}

.sections h3 {
  font-weight: 700;
  font-size: 24px;
  color: #252b42;
}

.sections ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sections li a {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

.section1 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.section1 p {
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  width: 211px;
}

.fot_i {
  display: flex;
  column-gap: 20px;
  color: #23a6f0;
  font-size: 20px;
}

.fot_down {
  height: 76px;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.fot_down h6 {
  font-weight: 700;
  font-size: 14px;
  color: #737373;
  text-align: center;
  padding-top: 30px;
}
